<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">FirstName: </label>
    <input name="firstName" type="text" th:field="*{firstName}" id="firstName"/>
    <label for="lastName">LastName: </label>
    <input name="lastName" type="text" th:field="*{lastName}" id="lastName"/>
    <label for="email">Email: </label>
    <input name="email" type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>